*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}
.container h1{
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
}
.box{
    background-color: #e6f1fd;
    height: 60vh;
    width: 50%;
    margin: 40px 40px;
    border-radius: 25px;
    padding: 10px;

}

.list1 {
        display: flex;
        
}
.img1{
    height: 35vh;
    width: auto;
    margin-top: 70px;
}
.box{
   position: relative;
}
.box h1{
   float: right;
   margin-top: 60px;
   margin-right: 140px;
   background-color: #e6f1fd;
}
.box p{
    margin-left: 360px;
    background-color: #e6f1fd;
    padding: 10px;
    margin-top: -220px;  
}
.box button{
    margin-left: 370px;
    font-size: 15px;
    padding: 5px;
    
}
.rating{
    margin-left: 370px;
    background-color: #e6f1fd;

}
.rating label{
    height: 40px;
    width: 20%;
    
}