*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}
.slider {
    position: relative;
    width: 100%;
    height: 30vh;
    margin: auto;
    overflow: hidden;
    padding:  40px 100px;
  }
  .newimg{
    height: 50vh;
    width: 50%;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
    border-radius: 20px;
  }
  
  .slides {
    display: flex;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
  }
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  img {
    width: 100%;
    vertical-align: middle;
  }
  
   * {
    box-sizing: border-box;
  }
  
  
  .container {
    position: relative;
  }
  
  
  .mySlides {
    display: none;
  
  }
  
  
  .cursor {
    cursor: pointer;
  }
  
  .slide-img {
    height: 80vh;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .column {
    float: left;
    width: 16.66%;
    height: 40vh;
  }
  
  
  .demo {
    opacity: 0.6;
    height: 20vh;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


.container h1{
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
}
.box{
    background-color: #7eb8f6;
    height: 60vh;
    width: 50%;
    margin: 40px 40px;
    border-radius: 25px;
    padding: 10px;

}

.list1 {
        display: flex;
        
}
.img1{
    height: 50vh;
    width: 50%;
    margin-top: 30px;
    
}
.box{
   position: relative;
}
.box h1{
   float: right;
   margin-top: 60px;
   margin-right: 140px;
   background-color: #7eb8f6;
}
.box p{
    margin-left: 360px;
    background-color: #7eb8f6;
    padding: 10px;
    margin-top: -300px;  
}
.box button{
    margin-left: 375px;
    font-size: 15px;
    padding: 5px;
   background-color: #f9bf3b;
   margin-top: 10px;
    
}
.rating{
    margin-left: 370px;
    margin-right: 170px;
    background-color: #7eb8f6;

}
.rating >*{
    float: right;
}
.rating label{
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
}
.rating label::after{
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased ;
    position: absolute;
    content: "✰";
    color: #444;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    -webkit-animation: 1s pulse ease;
    animation:1s pulse ease ;
    background-color: #7eb8f6;
}
.rating label:hover::after{
    color: #5e5e5e;
    text-shadow: 0 0 15px #5e5e5e;
}
.rating input{
    display: none;
}
.rating input:checked + label::after,
.rating input:checked ~ label::after{
    content:"✰";
    color: #f9bf3b;
    text-shadow: 0 0 20px #f9bf3b;
}