body{
    margin: 0px;
    padding: 0px;
    background: #faf0e048;
    font-family: 'Poppins', sans-serif;
}
.bag{
    background-color: #987132af;
}
.bod{
    border: 1px solid #987132af;
}
.wdt{
    width: 50px;
    height: 50px;
}
.c-bag{
    background-color: #9871322b;
}
.r-bag{
    background-color: #fffefdce;
}
.ha{
    color: #81c2e3;
}
.img-card-1{
    cursor: pointer;
    transition: 0.5s;
}
.img-card-1:hover {
    transform: translateY(-10px);
}
#img{
    margin-top: 20px;
    margin-left: -30px;
}
#main{
    margin-top: 50px;
}
#text-box{
    margin-top: 70px;
}
.container{
    margin-top: 50px;
}

